<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="blue lighten-2">
  <div class="card-panel temporary">
    <span class="blue-text text-darken-2">Pardon our appearence, we are renovating.</span>
  </div>
</body>
</html>
